<div style="width: 100%;display:flex;">

 
    <mat-card style="width: 100%;width: 50%">

      <div style="display: flex; justify-content: center;">
        <p style="font-size: 30px; font-weight: bold;">Menu</p>
      </div>

      <mat-grid-list cols="4" rowHeight="200px">
        <mat-grid-tile *ngFor="let dish of dishes">
          <img height="200px" src={{dish.image}} alt={{dish.name}}>
          <mat-grid-tile-footer (click)="agregarCarrito(dish)">
            <div >
              <div>
                {{dish.dishName}}
              </div>
              <div>
                S/.{{dish.price}}
              </div>
            </div>
          </mat-grid-tile-footer>

        </mat-grid-tile>
      </mat-grid-list>

    </mat-card>

    <mat-card style="width: 50%;">
      <div style="display: flex; justify-content: center;">
        <p style="font-size: 30px; font-weight: bold;">Pedidos</p>
      </div>
      <mat-selection-list #x>
        <mat-list-option *ngFor="let selectedDish of selectedDishes">
  
          <div style="display: flex;">
            <button mat-button  style="width:50%;">{{selectedDish.dishName}}</button>
            <button mat-raised-button  style="width:50%;">{{selectedDish.quantity}}</button>
          </div>
        </mat-list-option>
      </mat-selection-list>
    </mat-card>
  </div>




<mat-card style="display: flex;;margin-top: 4px;">

  <mat-form-field appearance="outline">
    <mat-label>Nueva Orden:</mat-label>
    <input matInput placeholder="Nueva Orden:" disabled >

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Número de contacto</mat-label>
    <input matInput placeholder="contacto" [(ngModel)]="contactNumber">

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Tipo de pago</mat-label>
    <mat-select [(ngModel)]="selectedPayForm">
      <mat-option *ngFor="let pay of pays" [value]="pay">
        {{pay}}
      </mat-option>
    </mat-select>

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Número de tarjeta</mat-label>
    <input matInput placeholder="tarjeta" [(ngModel)]="cardNumber" [disabled]="selectedPayForm==='efectivo'">

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Desea bebida</mat-label>
    <mat-select [(ngModel)]="optionDrinkSelected">
      <mat-option *ngFor="let option of bebida" [value]="option.valor">
        {{option.clave}}
      </mat-option>
    </mat-select>

  </mat-form-field>


  <mat-form-field appearance="outline">
    <mat-label>Presenta cupón de descuento</mat-label>
    <mat-select [(ngModel)]="optionCuponSelected">
      <mat-option *ngFor="let option of cupon" [value]="option.valor">
        {{option.clave}}
      </mat-option>
    </mat-select>

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Descuento a aplicar</mat-label>
    <input matInput placeholder="descuento" [(ngModel)]="discount" [disabled]="!optionCuponSelected">

  </mat-form-field>
</mat-card>

<mat-card style="margin-top: 2px;">

  <button mat-button style="">Total: {{order.getTotal()}}</button>
  <button mat-raised-button (click)="inicialice()" style="margin-left: 80%;">Enviar Pedido</button>

</mat-card>

<!--
<mat-card style="width: 40%;margin: 0% !important;display: flex;">
  <mat-selection-list #x>
    <mat-list-option *ngFor="let selectedDish of selectedDishes">
      <div >
        <div>
          {{selectedDish.dishName}}
        </div>
        <div>
          {{selectedDish.quantity}}
        </div>
      </div>
    </mat-list-option>
  </mat-selection-list>
</mat-card>
-->